# Ignorar arquivos compilados em Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar virtual environments
env/
.env
venv/
.venv

# Ignorar logs
*.log

# Ignorar banco de dados
*.sqlite3

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de pacotes
*.egg-info/
dist/
build/

# Ignorar o script formatador_codigo.py
formatador_codigo.py
clear_code.py